body {
  font-family: "Lucida Bright", Georgia, serif;
  background-color: #c7e1ff;
  font-size: 13px;
  /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
  margin:0;
  padding:0;
  color:#fff;
}
body, html {
  height: 100%
}
#pinContainer {
  width: 100%;
  height: 100%;
}
.panel {
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  position: relative;
  text-align:center;
}
b {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position:relative;
  font-size:30px;
}

.first {
	background: repeating-linear-gradient(
		22.5deg,
		#fbe8a6,
		#fbe8a6 10px,
		#f5da7a 10px,
		#f5da7a 20px
	);
}

.second {
	padding-top: 20px;
	background-color: #D2FDFF;
}

.third {
	padding-top: 20px;
	background-color: #B4DFE5;
}

.myCard{
	color: black;
	width: 75%;
	margin: 15px;
}

.section_title_line{
	position: relative;
	height: 2px;
	bottom: 24px;
	left: 0;
	right: 0;
	width: 1%;
  margin: auto;
	background-color: black;
}
.section_heading{
  position: relative;
  display: inline-block;
  background-color: #f3f3f3;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  z-index: 2;
}