body {
  font-family: "Lucida Bright", Georgia, serif;
  background-color: #c7e1ff;
  /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
  margin:0;
  padding:0;
  color:#fff;
}
body, html {
  height: 100%
}
#pinContainer {
  width: 100%;
  height: 100%;
}
.panel {
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  position: relative;
  text-align:center;
}
b {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position:relative;
  font-size:30px;
}

.first {
	background: repeating-linear-gradient(
		22.5deg,
		#fbe8a6,
		#fbe8a6 10px,
		#f5da7a 10px,
		#f5da7a 20px
	);
}

.second {
	color: black
	padding-top: 20px;
	background-color: #D2FDFF;
}

.second h1{
	background-color: #D2FDFF;
}

.third {
	height: fit-content;
	padding-top: 20px;
	background-color: #B4DFE5;
}

.myCard{
	color: black;
	width: 75%;
	margin: 15px;
}

li {
    list-style-type: none;
}

#projCard{
	opacity:0;
	
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateY(-40px);
	
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	
}

#projCard.visible{
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.section_title_line{
	position: relative;
	height: 2px;
	bottom: 24px;
	left: 0;
	right: 0;
	width: 1%;
  margin: auto;
	background-color: black;
}
.section_heading{
  position: relative;
  display: inline-block;
  background-color: #f3f3f3;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  z-index: 2;
}