body, html {
	height: 100%;
	width:100%;
	background-color: #669999;
	color: white;
	margin: 0;
}

.ScrollSceneIndicators { 
	z-index: 9999999 !important; 
}

#pinContainer {
	width: 100%;
	/*min-height: -webkit-fill-available;*/
	height: calc(100%) !important;
}
.panel {
	height: calc(100%) !important;
	width: 100%;
	/*position: absolute;*/
	text-align:center;
}
.section_title_line{
	position: absolute;
	height: 2px;
	bottom: 44px;
	left: 0;
	right:0;
	width: 1%;
	background-color: black;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}